<%- include ('./partials/head') %>


<main>
   <section class="page-top">
        <%- include ('./partials/scoreboard') %>

        <%- include ('./partials/player-legend') %>
    </section>
    <%- include ('./partials/scoreline') %>

    <%- include ('./partials/players') %>

    <%- include ('./partials/playerstats') %>
</main>


<%- include ('./partials/footer') %>