<%- include ('./partials/head') %>


<main>
    <%- include ('./partials/gamestats') %>
    <%- include ('./partials/scoreboard') %>
    <%- include ('./partials/scoreline') %>
    <%- include ('./partials/players') %>
    <%- include ('./partials/playerstats') %>
</main>


<%- include ('./partials/footer') %>